# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/main/node_modules
/admin/node_modules
/shared/node_modules

# testing
/main/coverage
/admin/coverage
/shared/coverage

# production
/main/build
/admin/build
/shared/build
/shared/dist

# misc
.DS_Store
/main/.env
/admin/.env
/shared/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*