# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/main/node_modules
/admin/node_modules

# testing
/main/coverage
/admin/coverage

# production
/main/build
/admin/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*