body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

.page-header {
  text-align: center;
}

.form-table {
  width: 100%;
}

.form-table td {
  padding-bottom: 10px;
}

.form-label {
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
}

.form-field {
  width: 100%;
}

.App {
  padding-top: 100px;
  padding-bottom: 50px;
}

.App nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-radius: 0;
}

.App nav .navbar-nav {
  text-align: right;
  padding-right: 15px;
}

.App nav .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.App nav .container-fluid .navbar-brand {
  margin-left: 0px;
}

.App .nav .dropdown-toggle .fa-user-circle {
  font-size: 22px;
}

.App .nav .caret {
  display: none;
}

.App .nav .dropdown-menu a {
  text-align: right;
}

.App .nav .fa-user-circle {
  margin-left: 10px;
}

.Home * {
  text-align: center;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.link-below-button {
  margin-top: 10px;
  text-align: center;
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

@media all and (min-width: 480px) {
  .Login {
    margin: 50px 0;
  }

  .Signup {
    margin: 50px 0;
  }
}
