.App {
  padding-top: 50px;
  padding-bottom: 50px;
}

.App nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-radius: 0;
}

.App nav .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.App nav .container-fluid .navbar-brand {
  margin-left: 0px;
}

.App .nav .dropdown-toggle .fa-user-circle {
  font-size: 22px;
}

.App .nav .caret {
  display: none;
}

.App .nav .dropdown-menu a {
  text-align: right;
}

.App .nav .fa-user-circle {
  margin-left: 10px;
}
