body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --navy: #003a74;
  --light-blue: #E4EBF8;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

.page-header {
  text-align: center;
}

.form-table {
  width: 100%;
}

.form-table td {
  padding-bottom: 10px;
}

.form-label {
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
  font-weight: bold;
}

.form-field {
  width: 100%;
}

th {
  background-color: #e7e7e7;
}

th,td {
  white-space: nowrap;
}

.table-container {
  overflow-x: scroll;
}

.remove-row {
  width: 30px;
}

.helper-text {
  margin-top: 0px;
}

.ErrorBoundary {
  padding-top: 100px;
  text-align: center;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.LoaderButton .spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.container {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  margin-bottom: -80px;
}

.container::after {
  content: "";
  display: block;
  height: 80px;
}

.App nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-radius: 0;
  background-color: white;
  margin-bottom: 0px;
}

.App nav .navbar-nav:not(.left-aligned) {
  text-align: right;
  padding-right: 15px;
}

.App nav .navbar-nav.left-aligned {
  text-align: left;
  padding-left: 15px;
}

.App nav .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.App nav .container-fluid .navbar-brand {
  margin-left: 0px;
}

.App .nav .dropdown-toggle .fa-user-circle {
  font-size: 22px;
}

.App .nav .caret {
  display: none;
}

.App .nav p {
  margin-bottom: 0px;
}

.App .navbar-right .dropdown-menu a {
  text-align: right;
}

.App .nav .fa-user-circle {
  margin-left: 10px;
}

.App .nav.navbar-nav.navbar-right {
  position: fixed;
  top: 0;
  right: 0;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.centered-content-inner {
  width: 100%;
}

.centered-text {
  text-align: center;
}

.fa-check.updated-standings, .fa-check.updated-password {
  margin-right: 8px;
}

.reset-password-success {
  text-align: center;
}

.form-field-with-note td {
  padding-bottom: 0px;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer a {
  text-decoration: underline;
}

.btn:not(.cancel-button) {
  background-color: var(--navy);
  border-color: var(--navy);
}

.home-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 75px 7%;
}

.home-section-1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-section-2 {
  background-color: white;
  width: 100vw;
  padding: 75px 7%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section-3 {
  background-color: var(--light-blue);
  padding: 75px 7%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-section-3-card {
  padding: 40px;
  border: solid 1px var(--navy);
  background-color: white;
  margin: 4%;
  max-width: 400px;
  flex-basis: 1;
}

.home-section-3-card h3 {
  margin-top: 0px;
}

.home-section-3-card p {
  margin-bottom: 0px;
}

.home-section-2 p {
  max-width: 750px;
  margin-bottom: 40px;
}

.key-dates {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: var(--light-blue);
  display: flex;
}

.key-dates-column {
  display: flex;
  flex-direction: column;
}

.key-date {
  font-weight: bold;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.key-event {
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.key-date:last-of-type, .key-event:last-of-type {
  margin-bottom: 0px;
}

.season-calendars {
  display: flex;
  flex-wrap: wrap;
}

.season-events-container {
  margin: 40px;
  margin-top: 20px;
  border: solid 1px var(--navy);
  padding: 30px;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 300px;
}

.season-events-container h3 {
  margin-top: 0px;
}

.season-events {
  display: flex;
  margin-top: 20px;
}

h1, h2, h3, h4 {
  color: var(--navy);
}

h1.welcome {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 4.5rem;
}

h3.welcome {
  margin-bottom: 40px;
}

.landing-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.link-below-button {
  margin-top: 10px;
  text-align: center;
}

.select-player {
  margin-bottom: 15px;
}

.select-player i {
  margin-left: 8px;
}

.checkbox {
  margin: 0px;
}

.line-header {
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;
}

.line-header:before, .line-header:after {
  content: '';
  border-top: 1px solid gray;
  margin: 0 10px 0 0;
  flex: 1 0 10px;
}

.line-header:after {
  margin: 0 0 0 10px;
}

.committee-members div {
  margin-top: 20px;
  padding: 40px;
  background-color: var(--light-blue);
}

.committee-members h3 {
  margin-top: 0px;
}

.committee-member {
  margin-bottom: 0px;
}

.bylaw-child-item {
  margin-left: 20px;
}

.finances {
  text-align: center;
}

.court-locations-intro, .tennis-centers-intro, .contact-intro, .schedules-intro, .match-result-intro, .standings-intro {
  margin-bottom: 25px;
}

.match-results-dropdown {
  margin-bottom: 10px;
}

.match-results-dropdown:last-of-type {
  margin-bottom: 25px;
}

.court-locations-list li {
  break-inside: avoid;
  display: flex;
}

.toggle-directions {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.toggle-directions.invisible {
  visibility: hidden;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.help-block {
  margin-bottom: 0px;
  padding-bottom: 0px !important;
}

.contact-item td {
  padding-bottom: 25px;
}

.contact-item-text {
  display: flex;
  flex-wrap: wrap;
}

.contact-item-separator {
  width: 130px;
  text-align: center;
}

.contact-item img {
  margin-right: 20px;
}

.update-standings-btn {
  margin-bottom: 15px;
}

.self-rating-info {
  margin-bottom: 0px;
}

.paypal-table {
  margin-top: 15px;
  margin-bottom: 15px;
}

.paypal-form-label {
  padding-top: 10px;
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

@media all and (max-width: 767px) {
  .navbar-brand {
    position: fixed;
    top: 0;
    left: calc(50% - 25px);
  }

  .navbar-toggle {
    float: left;
    margin-left: 30px;
  }

  .navbar-nav .open .dropdown-menu {
    background-color: white;
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .season-events-container {
    margin: 10px;
  }
}

@media all and (max-width: 699px) {
  .contact-item-text {
    display: block;
  }

  .contact-item-separator {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 600px) {
  .photo-overlay {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .home-section-1-content {
    background-color: transparent;
  }
}

@media all and (min-width: 768px) {
  .court-locations-list {
    columns: 2;
    column-gap: 100px;
    list-style-type: none;
  }
}

@media all and (hover: hover) {
  .interactive-table td:hover {
    cursor: pointer;
  }

  .interactive-table tr.disabled td:hover {
    cursor: auto;
  }

  .btn:not(.cancel-button):hover {
    background-color: var(--navy);
    border-color: var(--navy);
  }

  .toggle-directions:hover {
    cursor: pointer;
  }
}
